
# Database Credentials
DB_NAME=metal_to_cloud
DB_USER=robot_admin
DB_PORT=5432
DB_PASSWORD=your_password_managed_via_docker_secrets

# Frontend Variables
VITE_API_HTTP_URL=http://localhost:8000
VITE_API_WS_URL=ws://localhost:8000/ws

# Telemetry Variables
BACKEND_BASE_URL=ws://localhost:8000
