
# Database Credentials
DB_NAME=metal_to_cloud
DB_USER=robot_admin
DB_PORT=1234

# Frontend Variables
VITE_API_HTTP_URL=http://website:8000
VITE_API_WS_URL=ws://website:8000/ws

# Telemetry Variables
BACKEND_BASE_URL=ws://website:8000
